#SECRETKEY template = b4c09517c62a39dc2df795800dfd09d5450fb73b8bc8f35a11cd79835ab5fc00
SECRET_KEY= #key
#DataBaseConfig
SERVICE__HUB__DB__NAME=name
SERVICE__HUB__DB__USERNAME=user
SERVICE__HUB__DB__PASSWORD=password
SERVICE__HUB__DB__PORT=5432
SERVICE__HUB__DB__HOST=db

