<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <!-- Подключаем твой файл со стилями -->
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="container">
    <!-- Добавляем action и method -->
    <form class="login-form" action="/login/auth" method="POST">
        <h2>Вход в аккаунт</h2>

        <div class="field">
            <label>Электронная почта</label>
            <!-- Обязательно добавь name="email" -->
            <input type="email" name="email" placeholder="mail@company.ru" required>
        </div>

        <div class="field">
            <label>Пароль</label>
            <!-- Обязательно добавь name="password" -->
            <input type="password" name="password" placeholder="••••••••" required>
        </div>

        <button type="submit" class="btn-primary">Войти</button>

        <div class="footer">
            Еще не зарегистрированы? <a href="/register">Регистрация</a>
        </div>
    </form>
    </div>
</body>
</html>
